@model Stockzilla.Models.Category
@{
    Layout = "_Layout_Signed_In";
    ViewBag.Title = "Edit Category - Stockzilla";
    ViewBag.Header = "Edit Category";
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


<div class="col-md-6 col-md-offset-3">

    <form method="post" novalidate>
        <div class="form-group">
            @Html.HiddenFor(model => model.CategoryId)
            @Html.HiddenFor(model => model.SiteId)

            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Category" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <span><input class="btn btn-success" type="submit" value="Save" />&nbsp;</span>
            <span><input class="btn btn-danger" type="reset" value="Cancel" onclick="location.href='@Url.Action("List", "Categories")'" /></span>
        </div>
    </form>
</div>